@import '@/assets/styles/variable.scss';
.aside{
    ul[role='menu']{
        margin-left: 10px;
    }
    user-select: none;
    .toggle{
        width: $asideMinWidth;
        height: $topHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #2783FC;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
    }
}